---

---

<a href="#"
  ><button>
    <img class="back-button" src="./Images/Back.png" alt="Back-logo" width="35x" />
  </button>
</a>

<style>
    .back-button {
    position: absolute;
    left: 0; /* Placerer knappen i venstre hjørne */
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  button {
    background-color: #ba33ff;
    text-decoration: none;
    color: black;
    padding: 1rem 1.2rem;
    text-align: center;
    font-size: 40px;
    box-shadow: -6px 6px rgba(0, 0, 0, 0.8);
    border-radius: 10rem;
    border: 2px solid black;
    font-family: Warpen, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  button:hover {
    background-color: #200589;
    color: white;
  }
  button:hover img {
    filter: invert(1);
  }
  button img {
    display: block;
    text-align: center;
  }
  button img:hover {
    display: block;
    text-align: center;
  }
</style>
