---

---

<a href="news.astro"><button>Line-up</button></a>

<style>
  button {
    background-color: #ba33ff;
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 40px;
    box-shadow: -6px 6px rgba(0, 0, 0, 0.8);
    border-radius: 1rem 0 1rem;
    border: 2px solid black;
    font-family: Warpen, sans-serif;
    display: inline-block;
  }
  button:hover {
    background-color: #200589;
    color: white;
  }
</style>
