@font-face {
    font-family: 'Warpen';
    src: url('../pages/Fonts/Warpen.otf') format('otf'),
         url('../pages/Fonts/Warpen.ttf') format('ttf'); /* Fallback for older browsers */
    font-weight: normal;
    font-style: normal;
  }

  * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     }

     body {
          background-color: black;
     }