style is:global {

  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
  }
  
  @font-face {
    font-family: 'Warpen';
    src: url('../pages/Fonts/Warpen.otf') format('otf'),
    url('../pages/Fonts/Warpen.ttf') format('ttf'); /* Fallback for older browsers */
    font-weight: normal;
    font-style: normal;
  }
  
}
/** @format */

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

@font-face {
  font-family: "Warpen";
  src: url("../pages/Fonts/Warpen.otf") format("otf"),
    url("../pages/Fonts/Warpen.ttf") format("ttf"); /* Fallback for older browsers */
  font-weight: normal;
  font-style: normal;
}
