---

---

<button>Line-up</button>

<style>
  button {
    background-color: #ba33ff;
    text-decoration: none;
    color: black;
    width: 20rem;
    height: 5rem;
    text-align: center;
    font-size: 40px;
    box-shadow: -8px 8px rgba(0, 0, 0, 0.8);
    border-radius: 1rem 0 1rem;
    border: none;
  }
</style>
