---
import "../styles/global.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Article from "../components/Article.astro";
import Back from "../components/Back.astro";
import Lineup from "../components/Lineup.astro";
import Karrusel from "../components/Karrusel.astro";
import Burger from "../components/Burger.astro";
import SignUp from "../components/Sign-up.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/karrusel-logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <Burger />
      <Navigation />
      <div class="frontpage-container">
        <img class="grid" src="./Images/alt.png" alt="Grid" />
        <img class="dato" src="./Images/dato.png" alt="Dato for festival" />
        <img class="hero" src="./Images/hero.png" alt="Overskrift" />
        <div class="lineup-container">
          <Lineup />
        </div>
        <img class="news" src="./Images/news.png" alt="news" />
      </div>
      <div class="ramme">
        <img class="" src="./Images/info.png" alt="Ramme" />
        <p class="info-text">
          Herunder kan du læse de seneste opdateringer om festivalen, som byder
          på spændende musikoplevelser, kunstinstallationer og madoplevelser i
          verdensklasse. Hold dig opdateret med nyhederne herunder for at få de
          seneste informationer om arrangementer og praktiske detaljer.
        </p>
      </div>
      <Karrusel />
      <SignUp />
    </main>
  </body>
</html>

<style>
  .grid {
    width: 100%;
    height: 100vh;
  }

  .dato {
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .hero {
    width: 55%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .frontpage-container {
    position: relative;
  }

  .lineup-container {
    top: 60%;
    left: 42%;
    z-index: 10;
    position: absolute;
  }

  .news {
    top: 91.2%;
    left: 10%;
    z-index: 10;
    position: absolute;
    width: 80%;
    height: auto;
  }

  /* Sign-up */

  .ramme {
    position: relative;
    display: flex;
    margin: 150px auto 0px;
    justify-content: center;
  }

  .ramme img {
    width: 70%;
  }

  .info-text {
    position: absolute;
    color: white;
    transform: translate(0%, 35%);
    max-width: 900px;
    font-size: 2vw;
    box-sizing: border-box;
  }
</style>

<style is:global>
  body {
    background-color: black;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
