---
import Article from "./components/Buttons/Article.astro";
import Back from "./components/Buttons/Back.astro";
import Lineup from "./components/Buttons/Lineup.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <div class="frontpage-container">
      <img class="grid" src="./Images/alt.png" alt="Grid" />
      <img class="dato" src="./Images/dato.png" alt="Dato for festival" />
      <img class="hero" src="./Images/hero.png" alt="Overskrift" />
      <div class="lineup-container">
        <Lineup />
      </div>
      <img class="news" src="./Images/news.png" alt="news" />
    </div>
    <h1>Header</h1>
  </body>
  <script src="./java/productlist.js"></script>
</html>

<style>
  .grid {
    width: 100%;
    height: 100vh;
  }

  .dato {
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .hero {
    width: 55%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .frontpage-container {
    position: relative;
  }

  .lineup-container {
    top: 60%;
    left: 42%;
    z-index: 10;
    position: absolute;
  }

  .news {
    top: 91.2%;
    left: 10%;
    z-index: 10;
    position: absolute;
    width: 80%;
    height: auto;
  }
</style>

<style is:global>
  body {
    background-color: black;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
