---
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Burger from "../components/Burger.astro";
import Back from "../components/Back.astro";
import Lineup from "../components/Lineup.astro";
import Article from "../components/Article.astro";
import Karrusel from "../components/Karrusel.astro";
import SignUp from "../components/Sign-up.astro";
import Footer from "../components/Footer.astro";
import "../pages/Fonts/Warpen.otf";
import "../pages/Fonts/Warpen.ttf";
import "../pages/Fonts/IBMPlexMono-Bold.ttf";
import "../pages/Fonts/IBMPlexMono-Regular.ttf";
import "../pages/Fonts/IBMPlexMono-SemiBold.ttf";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/karrusel-logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <Burger />
      <Navigation />
      <div class="frontpage-container">
        <img class="grid" src="./Images/alt.png" alt="Grid" />
        <img class="dato" src="./Images/dato.png" alt="Dato for festival" />
        <img class="hero" src="./Images/hero.png" alt="Overskrift" />
        <div class="lineup-container">
          <Lineup />
        </div>
        <img class="news" src="./Images/news.png" alt="news" />
      </div>
      <div class="ramme">
        <img class="" src="./Images/info.png" alt="Ramme" />
        <p class="info-text">
          Herunder kan du læse de seneste opdateringer om festivalen, som byder
          på spændende musikoplevelser, kunstinstallationer og madoplevelser i
          verdensklasse. Hold dig opdateret med nyhederne herunder for at få de
          seneste informationer om arrangementer og praktiske detaljer.
        </p>
      </div>
      <Karrusel />
      <SignUp />
    </main>
    <Footer />
  </body>
</html>

<style>
  .grid {
    width: 100%;
    height: 100vh;
  }

  .dato {
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .hero {
    width: 55%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
  }

  .frontpage-container {
    position: relative;
  }

  .lineup-container {
    top: 60%;
    left: 42%;
    z-index: 10;
    position: absolute;
  }

  .news {
    top: 91.2%;
    left: 10%;
    z-index: 10;
    position: absolute;
    width: 80%;
    height: auto;
  }

  /* News Ramme */

  @media (min-width: 1024px) {
    .ramme {
      position: relative;
      display: flex;
      margin: 250px auto 100px;
      justify-content: center;
    }

    .ramme img {
      width: 70%;
    }

    .info-text {
      position: absolute;
      color: white;
      transform: translate(2%, 5%);
      width: 60%;
      font-size: 1.8vw;
      font-family: "IBM Plex Mono", serif;
      font-weight: 400;
      font-style: normal;
      box-sizing: border-box;
    }
  }
  @media (max-width: 1024px) {
    .ramme {
      position: relative;
      display: flex;
      margin: 150px auto 100px;
      justify-content: center;
    }

    .ramme img {
      width: 70%;
    }

    .info-text {
      position: absolute;
      color: white;
      transform: translate(0%, 35%);
      width: 60%;
      font-size: 2vw;
      box-sizing: border-box;
    }
  }
  @media (max-width: 768px) {
    .ramme {
      position: relative;
      display: flex;
      margin: 50px auto 100px;
      justify-content: center;
    }

    .ramme img {
      width: 70%;
      height: 28vh;
    }

    .info-text {
      position: absolute;
      color: white;
      transform: translate(0%, 5%);
      width: 60%;
      font-size: 3vw;
      font-family: "IBM Plex Mono", serif;
      font-weight: 400;
      font-style: normal;
      box-sizing: border-box;
    }
  }
  @media (max-width: 480px) {
    .ramme {
      position: relative;
      display: flex;
      margin: 50px auto 100px;
      justify-content: center;
    }

    .ramme img {
      width: 70%;
      height: 30vh;
    }

    .info-text {
      position: absolute;
      color: white;
      transform: translate(0%, 20%);
      width: 60%;
      font-size: 3.9vw;
      font-family: "IBM Plex Mono", serif;
      font-weight: 400;
      font-style: normal;
      box-sizing: border-box;
    }
  }

  body {
    background-color: black;
    font-family:
      Warpen,
      sans serif;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>

<style>
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
</style>
