---
import Article from "./components/Buttons/Lineup.astro";
import Back from "./components/Buttons/Back.astro";
import Lineup from "./components/Buttons/Article.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="frontpage-container">
      <img src="./Images/alt.png" alt="Grid" />
      <img class="dato" src="./Images/dato.png" alt="Dato for festival" />
      <img class="hero" src="./Images/hero.png" alt="Overskrift" />
      <div class="lineup-container">
        <Lineup />
        <img src="./Images/news" alt="news" />
      </div>
    </div>
  </body>
</html>

<style>
  img {
    width: 100%;
    height: 100vh;
  }

  .dato {
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .hero {
    width: 55%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .frontpage-container {
    position: relative;
  }

  .lineup-container {
    top: 60%;
    left: 35%;
    z-index: 10;
    position: absolute;
  }
</style>
