---
import "../styles/global.css";
import Card from "../components/Card.astro";
import Back from "../components/Back.astro";
import Navigation from "../components/Navigation.astro";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout />
<div class="headline">
  <Back />
  <h1>LINE-UP</h1>
</div>
<Card />
<Card />
<Card />

<style>
  .headline {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  h1 {
    color: white;
    margin: 0;
  }
</style>
