---
import Lineup from "./components/Buttons/Lineup.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="./styles/global.css" />
  </head>
  <body>
    <h1>Header</h1>
    <div class="grid-header">
      <img
        src="./img/android-chrome-192x192.png"
        alt="Logo"
        width="50px"
        height="50px"
      />
      <h1 class="TS-Header">Tech & Story Lab</h1>
    </div>
    <section id="categorylist">
      <h1 class="category-head">KATEGORIER</h1>
      <template id="category-template"
        ><li class="category-item">
          <a href="listeview.astro">Accessories</a>
        </li></template
      >
      <ol class="flex-container"></ol>
    </section>
    <div class="pil-wrapper">
      <a href="index.html"></a>
    </div>
    <h1 class="categoryHeader">Audio/Photo/Video Equipment</h1>
    <div class="wrap-mainText">
      <h2 class="mainText">
        Her finder du alt lige fra forskellige kameraer, objektiver og
        stabilisatorer til diverse tripods, mikrofoner og lysudstyr. Hvad enten
        du er på udkig efter grej til fx portræt- og produktbilleder, interviews
        eller podcasts, har vi alt, du har brug for.
      </h2>
    </div>
    <h2 class="subHeader">Products</h2>
    <section id="productListSection"></section>
    <template id="second">
      <article class="smallProduct">
        <!--         <a class="read-more-img" href="product.html" class="Linked"> -->
        <p class="topHead">Bing Bong</p>
        <!--         <img src="" alt="hej" /> -->
        <p class="subtle">
          <span class="type">Tshirts </span> | <span class="brand">Nike</span>
        </p>
        <!--         <a class="read-more" href="product.html"
          >Her kan du læse en beskrivelse af hvert produkt, så du kan få et
          indblik i om du er interreseret i at låne udstyret.</a
        > -->
      </article>
    </template>
  </body>
  <script src="./java/productlist.js"></script>
</html>
