---
import "../styles/global.css";
import "../components/Navigation.astro";
import Card from "../components/Card.astro";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout />
<div class="headline">
  <img class="back-button" src="../public/karrusel-logo.png" alt="" />
  <h1>Artist</h1>
</div>
<Card />
