---
const {artist} = Astro.props;
---

<div class="bottom-container">
  <img src="/Images/artistframe2.png" alt="" />
</div>

<style>
  .bottom-container {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 100px;
  }
</style>
