<div class="video-container">
  <img src="../public/Images/passionfill_left.png" alt="" />
  <img src="../public/Images/artist_video.png" alt="" />
  <img src="../public/Images/passionfill_right.png" alt="" />
</div>

<style>
  .video-container {
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-top: 100px;
  }
</style>
