---

---

<nav class="navbar">
  <ul class="nav-menu">
    <li>
      <a href="index.html" class="nav-logo"
        ><img src="billeder/logo.png" alt="navbar_logo" width="60" /></a
      >
    </li>
    <li class="nav-item none2">
      <a id="follow1" href="" class="nav-link">Portfolio 2024©</a>
    </li>
    <li class="nav-item"><a href="ommig.html" class="nav-link2">OM MIG</a></li>
    <li class="nav-item2 none">
      <a href="website.html" class="nav-link2">WEBSITE</a>
    </li>
    <li class="nav-item2 none">
      <a href="emnesite.html" class="nav-link2">EMNESITE</a>
    </li>
    <li class="nav-item2 none">
      <a href="temaopgave.html" class="nav-link2">TEMAOPGAVE</a>
    </li>
    <li class="nav-item2 none">
      <a href="passionssite.html" class="nav-link2">PASSIONSSITE</a>
    </li>
    <li class="nav-item2 none">
      <a href="virksomhedssite.html" class="nav-link2">VIRKSOMHEDSSITE</a>
    </li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <script src="../pages/burger.js"></script>
</nav>

<style>
  ul {
    list-style: none;
    height: auto;
    background-color: #f59dff;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 10px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  ul li a:hover {
    background: #fed018;
    width: 80%;
    border-radius: 1rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #6d6d6d;
    align-content: end;
  }

  .hamburger {
    display: none;
    cursor: pointer;
    margin-left: auto;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

  .nav-item {
    margin-left: 5rem;
  }

  .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
  }

  .nav-link:hover {
    color: #ffffff;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #2b2b2b;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 20px 20px;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 90%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
</style>
