---
import "../styles/global.css";
/* const imageSrc = "../public/Ben-böhmer.png";
const eventName = "KARRUSEL";
const eventDate = "29-09-2024"; */

const artister = await fetch(
  "https://fetch-with-astro.netlify.app/api/artists"
).then((res) => res.json());
console.log(artister);

/* const key = `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoa3NsaGpvbGx0Zmd5YmtieW5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzUxMzAsImV4cCI6MjA0NDIxMTEzMH0.PdB3A9RoMZHik4jSgDicx6j1dUshJkVYhVKMvgRPmK0`;

const artister = await fetch(
  "https://dhkslhjolltfgybkbynh.supabase.co/rest/v1/",
  {
    method: "GET",
    headers: {
      apikey: key,
    },
  }
).then((res) => res.json());
console.log(artister); */
---

<div class="grid-container">
  {
    artister.map((artist) => (
      <div class="container">
        <div class="background-box" />

        <div class="image-wrapper">
          <img class="image" src={artist.og_image.url} />
        </div>

        <div class="image-border" />
        <div class="date-text">{artist.date}</div>
        <div class="title-text">{artist.title}</div>
      </div>
    ))
  }
</div>
<!-- <div class="container">
  <div class="background-box"></div>
  <div class="image-wrapper">
    <img class="image" src={imageSrc} />
  </div>
  <div class="image-border"></div>
  <div class="date-text">29-09-2024</div>
  <div class="title-text">BEN BöHMER</div>
</div> -->
<style>
  .grid-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .background-box {
    width: 213.5px;
    height: 177px;
    position: absolute;
    background: #151515;
    border-radius: 15px;
    border: 0.5px white solid;
  }

  .image-wrapper {
    width: 206px;
    height: 166px;
    position: absolute;
    overflow: hidden;
    border: 0.5px white solid;
    border-radius: 15px;
    clip-path: polygon(
      65% 12%,
      79% 3%,
      98% 3%,
      98% 91%,
      69% 91%,
      51% 96%,
      2% 96%,
      2% 3%,
      19% 3%,
      41% 12%
    );
  }

  .image {
    width: 206px;
    height: 166px;
    border-radius: 15px;
    position: absolute;
    clip-path: polygon(
      65% 12%,
      79% 3%,
      98% 3%,
      98% 91%,
      69% 91%,
      51% 96%,
      2% 96%,
      2% 3%,
      19% 3%,
      41% 12%
    );
  }

  .image-border {
    width: 206px;
    height: 166px;
    position: absolute;

    border-radius: 15px;
  }

  .date-text,
  .title-text {
    position: absolute;
    color: white;
    font-weight: 150;
    letter-spacing: 0.4px;
    /* word-wrap: break-word; */
  }

  .date-text {
    font-size: 10px;
    font-family: "IBM Plex Mono", monospace;
    width: 56px;
    height: 11.5px;
  }

  .title-text {
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    background-color: black;
    justify-content: center;
    width: px;
    height: 23px;
  }
</style>
