---
/* const imageSrc = "../public/Ben-böhmer.png";
const eventName = "KARRUSEL";
const eventDate = "29-09-2024"; */

/* const = await fetch(
  "https://fetch-with-astro.netlify.app/api/artists"
).then((res) => res.json());
console.log(artister);
 */

const { data } = Astro.props;
---

<li>
  <a href={`/artister/${data.slug}`}>
    <div class="container">
      <div class="background-box"></div>
      <div class="image-wrapper">
        <img class="image" src={data.img} />
      </div>
      <div class="date-text">{data.dato}</div>
      <div class="title-text">{data.artist}</div>
      <div class="image-border"></div>
    </div>
  </a>
</li>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    font-style: normal;
  }

  .background-box {
    width: 426px;
    height: 354px;
    position: absolute;
    border-radius: 15px;
    border: 0.5px white solid;
  }

  .image-wrapper {
    width: 412px;
    height: 332px;
    position: absolute;
    overflow: hidden;
    border-radius: 15px;
    clip-path: polygon(
      77% 12%,
      82% 3%,
      98% 3%,
      98% 90%,
      58% 90%,
      44% 96%,
      2% 96%,
      2% 3%,
      18% 3%,
      23% 12%
    );
  }

  .image {
    width: 412px;
    height: 332px;
    border-radius: 15px;
    top: 5%;
    position: absolute;
    clip-path: polygon(
      77% 12%,
      82% 3%,
      98% 3%,
      98% 90%,
      58% 90%,
      44% 96%,
      2% 96%,
      2% 3%,
      18% 3%,
      23% 12%
    );
  }

  .image-border {
    width: 412px;
    height: 332px;
    border-radius: 15px;
  }

  .date-text {
    color: white;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    position: absolute;
    top: 310px;
    left: 60%;
  }

  .title-text {
    color: white;
    font-weight: 150;
    letter-spacing: 0.4px;
    font-size: 30px;
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 10px;
  }
</style>
