---
import "../styles/global.css";
/* const imageSrc = "../public/Ben-böhmer.png";
const eventName = "KARRUSEL";
const eventDate = "29-09-2024"; */

/* const artister = await fetch(
  "https://fetch-with-astro.netlify.app/api/artists"
).then((res) => res.json());
console.log(artister);
 */
const key = `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoa3NsaGpvbGx0Zmd5YmtieW5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzUxMzAsImV4cCI6MjA0NDIxMTEzMH0.PdB3A9RoMZHik4jSgDicx6j1dUshJkVYhVKMvgRPmK0`;

const artister = await fetch(
  "https://dhkslhjolltfgybkbynh.supabase.co/rest/v1/info",
  {
    headers: {
      apikey: key,
    },
  }
).then((res) => res.json());
console.log(artister);
---

<div class="grid-container">
  {
    artister.map((artist) => (
      <div class="container">
        <div class="background-box" />
        <div class="image-wrapper">
          <img class="image" src={artist.img} />
        </div>
        <div class="image-border" />
        <div class="date-text">Manegen 18:00</div>
        <div class="title-text">{artist.artist}</div>
      </div>
    ))
  }
</div>

<style>
  .grid-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .background-box {
    width: 426px;
    height: 354px;
    position: absolute;
    border-radius: 15px;
    border: 0.5px white solid;
  }

  .image-wrapper {
    width: 412px;
    height: 332px;
    position: absolute;
    overflow: hidden;
    border-radius: 15px;
    clip-path: polygon(
      77% 12%,
      82% 3%,
      98% 3%,
      98% 90%,
      58% 90%,
      44% 96%,
      2% 96%,
      2% 3%,
      18% 3%,
      23% 12%
    );
  }

  .image {
    width: 412px;
    height: 332px;
    border-radius: 15px;
    top: 5%;
    position: absolute;
    clip-path: polygon(
      77% 12%,
      82% 3%,
      98% 3%,
      98% 90%,
      58% 90%,
      44% 96%,
      2% 96%,
      2% 3%,
      18% 3%,
      23% 12%
    );
  }

  .image-border {
    width: 412px;
    height: 332px;
    border-radius: 15px;
  }

  .date-text {
    color: white;
    font-size: 15px;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    position: absolute;
    top: 310px;
    left: 350px;
  }

  .title-text {
    color: white;
    font-weight: 150;
    letter-spacing: 0.4px;
    font-size: 30px;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    position: absolute;
    top: 10px;
  }

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 480px) {
  }
</style>
