---

---

<footer>
  <img class="footer" src="/public/Images/footer.png" alt="footer image" />
  <a href="#" class="box-link1"></a>
  <a href="#" class="box-link2"></a>
  <a href="#" class="box-link3"></a>
  <a href="#" class="box-link4"></a>
  <a
    href="https://www.facebook.com/Karruselfestival"
    target="_blank"
    class="box-link5"></a>
  <a href="https://www.karrusel.dk/" target="_blank" class="box-link6"></a>
  <a
    href="https://www.youtube.com/@karruselcopenhagen557/videos"
    target="_blank"
    class="box-link7"></a>
</footer>

<style>
  .footer {
    margin-left: 5%;
    padding-bottom: 10px;
    margin-top: 400px;
  }
  .box-link1 {
    display: inline-block; /* Makes the a tag respect width and height */
    width: 220px; /* Set specific width */
    height: 30px; /* Set specific height */
    position: absolute;
    top: 375%;
    left: 17%;
    transform: translate(-50%, -50%);
  }
  .box-link2 {
    display: inline-block; /* Makes the a tag respect width and height */
    width: 130px; /* Set specific width */
    height: 30px; /* Set specific height */
    position: absolute;
    top: 375%;
    left: 33.5%;
    transform: translate(-50%, -50%);
  }
  .box-link3 {
    display: inline-block; /* Makes the a tag respect width and height */
    width: 117px; /* Set specific width */
    height: 30px; /* Set specific height */
    position: absolute;
    top: 375%;
    left: 46.2%;
    transform: translate(-50%, -50%);
  }
  .box-link4 {
    display: inline-block; /* Makes the a tag respect width and height */
    width: 57px; /* Set specific width */
    height: 30px; /* Set specific height */
    position: absolute;
    top: 375%;
    left: 56.5%;
    transform: translate(-50%, -50%);
  }
  .box-link5 {
    display: inline-block; /* Makes the a tag respect width and height */
    width: 48px; /* Set specific width */
    height: 44px; /* Set specific height */
    position: absolute;
    top: 396%;
    left: 76.5%;
    transform: translate(-50%, -50%);
  }
  .box-link6 {
    display: inline-block; /* Makes the a tag respect width and height */
    width: 44.7px; /* Set specific width */
    height: 44px; /* Set specific height */
    background-color: transparent; /* Transparent background */
    position: absolute;
    top: 396%;
    left: 81.9%;
    transform: translate(-50%, -50%);
  }
  .box-link7 {
    display: inline-block; /* Makes the a tag respect width and height */
    width: 48px; /* Set specific width */
    height: 42.25px; /* Set specific height */
    background-color: transparent; /* Transparent background */
    position: absolute;
    top: 396%;
    left: 87.5%;
    transform: translate(-50%, -50%);
  }
</style>
