---
import "../../pages/Fonts/Warpen.otf";
import "../../pages/Fonts/Warpen.ttf";
---

<footer>
  <div class="back-container">
    <img class="img" src="/Images/linje.png" alt="footer image" />
    <div class="text-wrapper">
      <a href="#" class="box-link1">SUSTAINABILITY</a>
      <a href="#" class="box-link2">ABOUT US</a>
      <a href="#" class="box-link3">CONTACT</a>
      <a href="#" class="box-link4">FAQ</a>
    </div>
    <div class="logo-wrapper">
      <a
        href="https://www.facebook.com/Karruselfestival"
        target="_blank"
        class="box-link5"
        ><img
          src="/Images/face.png"
          alt="footer image"
          width="42px"
          height="42px"
        /></a
      >
      <a href="https://www.karrusel.dk/" target="_blank" class="box-link6"
        ><img
          src="/Images/insta.png"
          alt="footer image"
          width="50px"
          height="50px"
        /></a
      >
      <a
        href="https://www.youtube.com/@karruselcopenhagen557/videos"
        target="_blank"
        class="box-link7"
        ><img
          src="/Images/you.png"
          alt="footer image"
          width="50px"
          height="50px"
        /></a
      >
    </div>
  </div>
</footer>

<style>
  .back-container {
    padding-bottom: 10px;
    margin-top: 300px;
    position: relative;
    width: 100%;
    height: auto;
  }

  .img {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
  }

  .text-wrapper {
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
    z-index: 20;
    top: 50px;
    left: 20px;
  }
  .box-link1,
  .box-link2,
  .box-link3,
  .box-link4 {
    transform: translate(50%, 50%);
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 0 3%;
    margin-left: 2%;
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

  .logo-wrapper {
    width: 100%;
    height: auto;
    position: absolute;
    display: inline-block;
    z-index: 20;
    top: 65%;
    left: 75%;
  }

  .box-link5,
  .box-link6,
  .box-link7 {
    padding: 0 1%;
    transform: translate(50%, 50%);
  }

  @media (min-width: 1025px) {
  }
  @media (max-width: 1024px) {
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
  }
</style>
