---
import "../styles/global.css";
---

<footer>
  <div class="footer-class">
    <p>SUSTAINABILITY</p>
    <p>ABOUT US</p>
    <p>CONTACT</p>
    <p>FAQ</p>
  </div>
  <div></div>
</footer>

<style>
  p {
    color: white;
  }

  .footer-class {
    display: flex;
    gap: 50px;
    margin-top: 100px;
    padding-left: 50px;
  }
</style>
