---

---

<div class="sliderContainer">
  <div class="container">
    <input type="radio" name="slider" id="s1" checked />
    <input type="radio" name="slider" id="s2" />
    <input type="radio" name="slider" id="s3" />
    <input type="radio" name="slider" id="s4" />
    <input type="radio" name="slider" id="s5" />

    <div class="cards">
      <label for="s1" id="slide1">
        <div class="card">
          <div class="image">
            <img src="./Images/pic1.jpg" alt="Nyheder" />
          </div>
          <div class="infos">
            <span class="name">Nyheder</span>
            <span class="lorem"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              assumenda expedita eum voluptas repellendus ipsa quis iusto,
              distinctio quas aspernatur corrupti cum sapiente. Facilis,
              laudantium ipsa. Laborum ducimus tempora quidem.</span
            >
          </div>
        </div>
      </label>
      <label for="s2" id="slide2">
        <div class="card">
          <div class="image">
            <img src="./Images/pic2.jpg" alt="Nyheder" />
          </div>
          <div class="infos">
            <span class="name">Nyheder</span>
            <span class="lorem"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              assumenda expedita eum voluptas repellendus ipsa quis iusto,
              distinctio quas aspernatur corrupti cum sapiente. Facilis,
              laudantium ipsa. Laborum ducimus tempora quidem.</span
            >
          </div>
        </div>
      </label>
      <label for="s3" id="slide3">
        <div class="card">
          <div class="image">
            <img src="./Images/pic3.jpg" alt="Nyheder" />
          </div>
          <div class="infos">
            <span class="name">Nyheder</span>
            <span class="lorem"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              assumenda expedita eum voluptas repellendus ipsa quis iusto,
              distinctio quas aspernatur corrupti cum sapiente. Facilis,
              laudantium ipsa. Laborum ducimus tempora quidem.</span
            >
          </div>
        </div>
      </label>
      <label for="s4" id="slide4">
        <div class="card">
          <div class="image">
            <img src="./Images/pic4.jpg" alt="Nyheder" />
          </div>
          <div class="infos">
            <span class="name">Nyheder</span>
            <span class="lorem"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              assumenda expedita eum voluptas repellendus ipsa quis iusto,
              distinctio quas aspernatur corrupti cum sapiente. Facilis,
              laudantium ipsa. Laborum ducimus tempora quidem.</span
            >
          </div>
        </div>
      </label>
      <label for="s5" id="slide5">
        <div class="card">
          <div class="image">
            <img src="./Images/pic5.jpg" alt="Nyheder" />
          </div>
          <div class="infos">
            <span class="name">Nyheder</span>
            <span class="lorem"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              assumenda expedita eum voluptas repellendus ipsa quis iusto,
              distinctio quas aspernatur corrupti cum sapiente. Facilis,
              laudantium ipsa. Laborum ducimus tempora quidem.</span
            >
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<style>
  
  @media (min-width: 1025px) {
    .sliderContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }
  
    input {
      display: none;
    }
  
    .container {
      width: 100%;
      height: 100%;
      max-width: 600px;
      max-height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      flex-direction: column;
      margin-top: 50px;
    }
  
    .cards {
      position: relative;
      height: 500px;
      width: 530px;
      margin: 0 auto 20px;
      perspective: 1000px;
      transform-style: preserve-3d;
      
    }
  
    .cards label {
      position: absolute;
      width: 530px;
      margin: auto;
      cursor: pointer;
      transition: transform 0.55s ease;
  }
  
  .cards .card {
    background-color: #151515;
    border-radius: 2rem; */
    width: 426px;
    display: inline-block;
    height: 332px;
    position: relative;
    border-radius: 15px;
    border: 0.5px white solid;
    transition: transform 0.55s ease;
    }
  
    .cards .image {
      display: flex;
      justify-content: center;
    }
  
    .cards .image img {
      transition: all 0.7s;
      width: 100%;
      height: auto;
      object-fit: cover;
      height: 332px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
      clip-path: polygon(
        77% 12%,
        82% 3%,
        98% 3%,
        98% 90%,
        58% 90%,
        44% 96%,
        2% 96%,
        2% 3%,
        18% 3%,
        23% 12%
      );
    }
    
    .card:hover {
      transform: scale(1.05);
      animation: glow-pulse infinite forwards;
    }
  
    .card .infos {
      display: block;
      text-align: center;
      padding-top: 60px;
    }
  
    .card .infos span {
      display: block;
    }
  
    .infos .name {
      font-size: 20px;
      color: #eceaed;
      margin-bottom: 20px;
      transition: all 0.6s ease;
      z-index: 1000;
      transform: translate(0%, -160%);
      justify-content: center;
      font-size: 2vw;
    }
  
    @keyframes glow-pulse {
      0% {
          box-shadow: 0 0 10px rgba(255, 10, 226, 0.5);
        }
        50% {
          filter: brightness(1.75);
        }
        100% {
          box-shadow: 0 0 20px rgb(216, 42, 255);
          filter: brightness(1.75);
        }
  }
  
    .card .lorem {
      font-size: 15.5px;
      color: #eceaed;
      letter-spacing: 3px;
      display: none;
      color: #151515;
    }
  
    input {
      display: none;
    }
  
    #s1:checked ~ .cards #slide4,
    #s2:checked ~ .cards #slide5,
    #s3:checked ~ .cards #slide1,
    #s4:checked ~ .cards #slide2,
    #s5:checked ~ .cards #slide3 {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
      transform: translate3d(-70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide5,
    #s2:checked ~ .cards #slide1,
    #s3:checked ~ .cards #slide2,
    #s4:checked ~ .cards #slide3,
    #s5:checked ~ .cards #slide4 {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
      transform: translate3d(-35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide1,
    #s2:checked ~ .cards #slide2,
    #s3:checked ~ .cards #slide3,
    #s4:checked ~ .cards #slide4,
    #s5:checked ~ .cards #slide5 {
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
      transform: translate3d(0, 0, 0);
      --current-color1: #2272ff;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide2,
    #s2:checked ~ .cards #slide3,
    #s3:checked ~ .cards #slide4,
    #s4:checked ~ .cards #slide5,
    #s5:checked ~ .cards #slide1 {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
      transform: translate3d(35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide3,
    #s2:checked ~ .cards #slide4,
    #s3:checked ~ .cards #slide5,
    #s4:checked ~ .cards #slide1,
    #s5:checked ~ .cards #slide2 {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
      transform: translate3d(70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  }
  @media (max-width: 1024px) {
    .sliderContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }
  
    input {
      display: none;
    }
  
    .container {
      width: 100%;
      height: 100%;
      max-width: 600px;
      max-height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      flex-direction: column;
      margin-top: 50px;
    }
  
    .cards {
      position: relative;
      height: 500px;
      width: 530px;
      margin: 0 auto 20px;
      perspective: 1000px;
      transform-style: preserve-3d;
      
    }
  
    .cards label {
      position: absolute;
      width: 530px;
      margin: auto;
      cursor: pointer;
      transition: transform 0.55s ease;
  }
  
  .cards .card {
    background-color: #151515;
    border-radius: 2rem; */
    width: 426px;
    display: inline-block;
    height: 332px;
    position: relative;
    border-radius: 15px;
    border: 0.5px white solid;
    transition: transform 0.55s ease;
    }
  
    .cards .image {
      display: flex;
      justify-content: center;
    }
  
    .cards .image img {
      transition: all 0.7s;
      width: 100%;
      height: auto;
      object-fit: cover;
      height: 332px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
      clip-path: polygon(
        77% 12%,
        82% 3%,
        98% 3%,
        98% 90%,
        58% 90%,
        44% 96%,
        2% 96%,
        2% 3%,
        18% 3%,
        23% 12%
      );
    }
    
    .card:hover {
      transform: scale(1.05);
      animation: glow-pulse infinite forwards;
    }
  
    .card .infos {
      display: block;
      text-align: center;
      padding-top: 60px;
    }
  
    .card .infos span {
      display: block;
    }
  
    .infos .name {
      font-size: 20px;
      color: #eceaed;
      margin-bottom: 20px;
      transition: all 0.6s ease;
      z-index: 1000;
      transform: translate(0%, -160%);
      justify-content: center;
      font-size: 2vw;
    }
  
    @keyframes glow-pulse {
      0% {
          box-shadow: 0 0 10px rgba(255, 10, 226, 0.5);
        }
        50% {
          filter: brightness(1.75);
        }
        100% {
          box-shadow: 0 0 20px rgb(216, 42, 255);
          filter: brightness(1.75);
        }
  }
  
    .card .lorem {
      font-size: 15.5px;
      color: #eceaed;
      letter-spacing: 3px;
      display: none;
      color: #151515;
    }
  
    input {
      display: none;
    }
  
    #s1:checked ~ .cards #slide4,
    #s2:checked ~ .cards #slide5,
    #s3:checked ~ .cards #slide1,
    #s4:checked ~ .cards #slide2,
    #s5:checked ~ .cards #slide3 {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
      transform: translate3d(-70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide5,
    #s2:checked ~ .cards #slide1,
    #s3:checked ~ .cards #slide2,
    #s4:checked ~ .cards #slide3,
    #s5:checked ~ .cards #slide4 {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
      transform: translate3d(-35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide1,
    #s2:checked ~ .cards #slide2,
    #s3:checked ~ .cards #slide3,
    #s4:checked ~ .cards #slide4,
    #s5:checked ~ .cards #slide5 {
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
      transform: translate3d(0, 0, 0);
      --current-color1: #2272ff;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide2,
    #s2:checked ~ .cards #slide3,
    #s3:checked ~ .cards #slide4,
    #s4:checked ~ .cards #slide5,
    #s5:checked ~ .cards #slide1 {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
      transform: translate3d(35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide3,
    #s2:checked ~ .cards #slide4,
    #s3:checked ~ .cards #slide5,
    #s4:checked ~ .cards #slide1,
    #s5:checked ~ .cards #slide2 {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
      transform: translate3d(70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  }
  @media (max-width: 768px) {
    .sliderContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }
  
    input {
      display: none;
    }
  
    .container {
      width: 100%;
      height: 100%;
      max-width: 600px;
      max-height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      flex-direction: column;
      margin-top: 50px;
    }
  
    .cards {
      position: relative;
      height: 500px;
      width: 530px;
      margin: 0 auto 20px;
      perspective: 1000px;
      transform-style: preserve-3d;
      
    }
  
    .cards label {
      position: absolute;
      width: 530px;
      margin: auto;
      cursor: pointer;
      transition: transform 0.55s ease;
  }
  
  .cards .card {
    background-color: #151515;
    border-radius: 2rem; */
    width: 426px;
    display: inline-block;
    height: 332px;
    position: relative;
    border-radius: 15px;
    border: 0.5px white solid;
    transition: transform 0.55s ease;
    }
  
    .cards .image {
      display: flex;
      justify-content: center;
    }
  
    .cards .image img {
      transition: all 0.7s;
      width: 100%;
      height: auto;
      object-fit: cover;
      height: 332px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
      clip-path: polygon(
        77% 12%,
        82% 3%,
        98% 3%,
        98% 90%,
        58% 90%,
        44% 96%,
        2% 96%,
        2% 3%,
        18% 3%,
        23% 12%
      );
    }
    
    .card:hover {
      transform: scale(1.05);
      animation: glow-pulse infinite forwards;
    }
  
    .card .infos {
      display: block;
      text-align: center;
      padding-top: 60px;
    }
  
    .card .infos span {
      display: block;
    }
  
    .infos .name {
      font-size: 20px;
      color: #eceaed;
      margin-bottom: 20px;
      transition: all 0.6s ease;
      z-index: 1000;
      transform: translate(0%, -160%);
      justify-content: center;
      font-size: 2vw;
    }
  
    @keyframes glow-pulse {
      0% {
          box-shadow: 0 0 10px rgba(255, 10, 226, 0.5);
        }
        50% {
          filter: brightness(1.75);
        }
        100% {
          box-shadow: 0 0 20px rgb(216, 42, 255);
          filter: brightness(1.75);
        }
  }
  
    .card .lorem {
      font-size: 15.5px;
      color: #eceaed;
      letter-spacing: 3px;
      display: none;
      color: #151515;
    }
  
    input {
      display: none;
    }
  
    #s1:checked ~ .cards #slide4,
    #s2:checked ~ .cards #slide5,
    #s3:checked ~ .cards #slide1,
    #s4:checked ~ .cards #slide2,
    #s5:checked ~ .cards #slide3 {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
      transform: translate3d(-70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide5,
    #s2:checked ~ .cards #slide1,
    #s3:checked ~ .cards #slide2,
    #s4:checked ~ .cards #slide3,
    #s5:checked ~ .cards #slide4 {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
      transform: translate3d(-35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide1,
    #s2:checked ~ .cards #slide2,
    #s3:checked ~ .cards #slide3,
    #s4:checked ~ .cards #slide4,
    #s5:checked ~ .cards #slide5 {
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
      transform: translate3d(0, 0, 0);
      --current-color1: #2272ff;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide2,
    #s2:checked ~ .cards #slide3,
    #s3:checked ~ .cards #slide4,
    #s4:checked ~ .cards #slide5,
    #s5:checked ~ .cards #slide1 {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
      transform: translate3d(35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide3,
    #s2:checked ~ .cards #slide4,
    #s3:checked ~ .cards #slide5,
    #s4:checked ~ .cards #slide1,
    #s5:checked ~ .cards #slide2 {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
      transform: translate3d(70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  }
  @media (max-width: 480px) {
    .sliderContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }
  
    input {
      display: none;
    }
  
    .container {
      width: 100%;
      height: 100%;
      max-width: 600px;
      max-height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      flex-direction: column;
      margin-top: 50px;
    }
  
    .cards {
      position: relative;
      height: 500px;
      width: 530px;
      margin: 0 auto 20px;
      perspective: 1000px;
      transform-style: preserve-3d;
      
    }
  
    .cards label {
      position: absolute;
      width: 530px;
      margin: auto;
      cursor: pointer;
      transition: transform 0.55s ease;
  }
  
  .cards .card {
    background-color: #151515;
    border-radius: 2rem; */
    width: 426px;
    display: inline-block;
    height: 332px;
    position: relative;
    border-radius: 15px;
    border: 0.5px white solid;
    transition: transform 0.55s ease;
    }
  
    .cards .image {
      display: flex;
      justify-content: center;
    }
  
    .cards .image img {
      transition: all 0.7s;
      width: 100%;
      height: auto;
      object-fit: cover;
      height: 332px;
      position: absolute;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
      clip-path: polygon(
        77% 12%,
        82% 3%,
        98% 3%,
        98% 90%,
        58% 90%,
        44% 96%,
        2% 96%,
        2% 3%,
        18% 3%,
        23% 12%
      );
    }
    
    .card:hover {
      transform: scale(1.05);
      animation: glow-pulse infinite forwards;
    }
  
    .card .infos {
      display: block;
      text-align: center;
      padding-top: 60px;
    }
  
    .card .infos span {
      display: block;
    }
  
    .infos .name {
      font-size: 20px;
      color: #eceaed;
      margin-bottom: 20px;
      transition: all 0.6s ease;
      z-index: 1000;
      transform: translate(0%, -160%);
      justify-content: center;
      font-size: 2vw;
    }
  
    @keyframes glow-pulse {
      0% {
          box-shadow: 0 0 10px rgba(255, 10, 226, 0.5);
        }
        50% {
          filter: brightness(1.75);
        }
        100% {
          box-shadow: 0 0 20px rgb(216, 42, 255);
          filter: brightness(1.75);
        }
  }
  
    .card .lorem {
      font-size: 15.5px;
      color: #eceaed;
      letter-spacing: 3px;
      display: none;
      color: #151515;
    }
  
    input {
      display: none;
    }
  
    #s1:checked ~ .cards #slide4,
    #s2:checked ~ .cards #slide5,
    #s3:checked ~ .cards #slide1,
    #s4:checked ~ .cards #slide2,
    #s5:checked ~ .cards #slide3 {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.45);
      transform: translate3d(-70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide5,
    #s2:checked ~ .cards #slide1,
    #s3:checked ~ .cards #slide2,
    #s4:checked ~ .cards #slide3,
    #s5:checked ~ .cards #slide4 {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
      transform: translate3d(-35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide1,
    #s2:checked ~ .cards #slide2,
    #s3:checked ~ .cards #slide3,
    #s4:checked ~ .cards #slide4,
    #s5:checked ~ .cards #slide5 {
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
      transform: translate3d(0, 0, 0);
      --current-color1: #2272ff;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide2,
    #s2:checked ~ .cards #slide3,
    #s3:checked ~ .cards #slide4,
    #s4:checked ~ .cards #slide5,
    #s5:checked ~ .cards #slide1 {
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
      transform: translate3d(35%, 0, -120px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  
    #s1:checked ~ .cards #slide3,
    #s2:checked ~ .cards #slide4,
    #s3:checked ~ .cards #slide5,
    #s4:checked ~ .cards #slide1,
    #s5:checked ~ .cards #slide2 {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
      transform: translate3d(70%, 0, -220px);
      --current-color1: #eceaed;
      --current-color2: #404457;
    }
  }
</style>
