---
import "../../pages/Fonts/Warpen.otf";
import "../../pages/Fonts/Warpen.ttf";
---

<nav>
  <div>
    <img src="../public/karrusel-logo.png" alt="Logo" />
  </div>
</nav>

<style>
  div img {
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 10px;
  }

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }

  @media (max-width: 480px) {
  }
</style>
