---

---

<div class="signup-wrapper">
  <div class="grid-1">
    <h1>NEWS SIGN UP</h1>
    <p>Sign up for relevant info, artist news, and special offers</p>
    <form action="email">Email</form>
    <button>Sign-up</button>
  </div>
  <div class="grid-2">
    <img src="./Images/signup-right.png" alt="Sign-up Image" />
  </div>
</div>

<style>
  .signup-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    background: url("./Images/signup-border.png") no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .grid-1 {
    display: inline;
    position: relative;
    z-index: 2;
    color: white;
  }

  .grid-2 {
    position: relative;
    z-index: 2;
  }

  .grid-2 img {
    max-width: 100%; /* Adjust the size of the secondary image */
    height: auto;
  }
</style>
