---

---

<div class="signup-wrapper">
  <img src="./Images/signup-border.png" alt="Border" />
  <div class="grid-1">
    <h1>NEWS SIGN UP</h1>
    <p>Sign up for relevant info, artist news, and special offers</p>
    <form action="email">Email</form>
    <button>Sign-up</button>
  </div>
  <div class="grid-2">
    <img src="./Images/signup-right.png" alt="Sign-up Image" />
  </div>
</div>

<style>
  .signup-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    grid-column: 1;
    z-index: 2;
    color: white;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2;
    position: absolute;
    z-index: 2;
  }

  .grid-2 img {
    max-width: 100%; /* Adjust the size of the secondary image */
    height: auto;
  }
</style>
