---
// @ts-nocheck
import "../../pages/Fonts/Warpen.otf";
import "../../pages/Fonts/Warpen.ttf";
import MainLayout from "../../layout/MainLayout.astro";
import Back from "../../components/Back.astro";
import Artistinfo from "../../components/Artistinfo.astro";
import Artistvideo from "../../components/Artistvideo.astro";
import Artistbottom from "../../components/Artistbottom.astro";

export async function getStaticPaths() {
  const url = "https://dhkslhjolltfgybkbynh.supabase.co/rest/v1/info";
  const options = {
    method: "GET",
    headers: {
      apikey: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoa3NsaGpvbGx0Zmd5YmtieW5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzUxMzAsImV4cCI6MjA0NDIxMTEzMH0.PdB3A9RoMZHik4jSgDicx6j1dUshJkVYhVKMvgRPmK0`,
    },
  };

  const artister = await fetch(url, options).then((res) => res.json());
  return artister.map((artist) => ({
    params: { slug: artist.slug }, // [artist]=artist.slug
    props: {
      artist,
    }, // send al data med som props
  }));
}

const { artist } = Astro.props;
console.log(artist);
---

<MainLayout>
  <div class="headline">
    <div class="back-button">
      <Back />
    </div>
    <h1>ARTIST</h1>
  </div>
  <div class="artist-container">
    <h2>{artist.artist}</h2>
    <img class="artist-pic-frame" src={artist.img} alt={artist.img} />
  </div>
  <Artistinfo />
  <Artistvideo />
  <Artistbottom />
</MainLayout>

<style>
  .back-button {
    display: flex;
    left: 0;
    position: absolute;
    margin: 30px;
  }
  .headline {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 150px;
  }
  h1 {
    color: white;
    margin: 0;
    font-family: Warpen, sans-serif;
    color: #ba33ff;
    font-size: 90px;
  }

  h2 {
    color: white;
    font-family: Warpen, sans-serif;
    font-size: 55px;
    text-align: center;
    display: block;
    top: -7%;
    position: absolute;
    z-index: 1000;
  }

  .artist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 150px;
    position: relative;
  }

  .artist-pic-frame {
    position: absolute;
    max-width: 100%;
    height: auto;
    width: 1200px;
    height: 700px;
    margin-top: 0;

    clip-path: polygon(
      85% 0,
      94% 0,
      100% 5%,
      100% 100%,
      0 100%,
      0 0,
      14% 0,
      21% 13%,
      78% 13%
    );
  }
  img {
    max-width: 100%;
  }
</style>
<style>
  body {
    background-color: black;
    font-family:
      Warpen,
      sans serif;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
